name: Run Unit Tests

on:
    pull_request:
        branches: main

jobs:
    test:
        runs-on: macos-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Xcode
              uses: maxim-lobanov/setup-xcode@v1
              with:
                  xcode-version: latest

            - name: Install dependencies
              run: |
                  brew install xcbeautify || true

            - name: Build
              run: |
                  xcodebuild build -project Mltply.xcodeproj -scheme MltplyUnitTests -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest'

            - name: Run tests
              run: |
                  xcodebuild test -project Mltply.xcodeproj -scheme MltplyUnitTests -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' -resultBundlePath TestResults | xcbeautify

            - name: Upload test results
              if: always()
              uses: actions/upload-artifact@v5
              with:
                name: TestResults
                path: TestResults

            - name: Annotate PR with test failures
              if: failure()
              uses: mikepenz/action-junit-report@v6
              with:
                report_paths: 'TestResults/**/*.xcresult/TestSummaries.plist'
                github_token: ${{ secrets.GITHUB_TOKEN }}
